button {
    padding: 5px;
    margin: 5px;
    width: 75px;
    font-size: 16px;
    background: #000;
    color: #fff;
    border-radius: 12px;
    border: none;

    &:hover {
        cursor: pointer;
        background: #fff;
        color: #000;
    }
}